

@import url(owl.carousel.css) screen;
@import url(pe-icon-7-stroke.css) screen;
@import url(animate.min.css) screen;

* {
    margin: 0;
    padding: 0px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    background: #fff;

    padding: 0;
    margin: 0;
    overflow: visible;
}

.hidden {
    display: none;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
}
.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}
::-moz-selection {
    color: #555252;
    text-shadow: none;
    background: #2B2E31;
}
::-webkit-input-placeholder {
    color: #555252 !important;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #555252 !important;
}
::-moz-placeholder  {
    /* Firefox 19+ */
    color: #555252 !important;
}
:-ms-input-placeholder {
    color: #555252 !important;
}
.contact-form .form-control::-webkit-input-placeholder{
    color: #fff !important;
}
.contact-form .form-control::-moz-placeholder{
    color: #fff !important;
}
.contact-form .form-control:-moz-placeholder{
    color: #fff !important;
}
.contact-form .form-control:-ms-input-placeholder{
    color: #fff !important;
}
*,*:after,*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    color: #0098d7;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
a:hover,a:focus {
    text-decoration: none;
    color: #blue;
}
a img {
    border: none;
    vertical-align: bottom;
}
a.remove {
    display: block;
    height: 18px;
    width: 18px;
    margin: 10px;
    padding-left: 0 !important;
    text-indent: -9999px;
    background: url(images/remove.png) #01090C;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px
}
h1,h2,h3,h4,h5,h6 {
    letter-spacing: 0px;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    font-family: 'Roboto', serif;
    line-height: 140%;
    color: #01090c;
}
h1 {
    font-size: 22px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
.lead {
    font-family: 'Open Sans', Arial,sans-serif !important;
    font-size: 18px;
    margin: 15px 0;
    padding: 0;
}
.first {
    clear: both
}
.last {
    margin-right: 0
}
audio,
video {
    max-width: 100%;
    height: auto;
}

iframe,embed,object {
    max-width: 100%;
}
input,textarea {
    color: #000 !important
}

html, body, .wrapper{
    height: 100%;
}.titie-section{
    margin-bottom: 30px;
    display: block;
    position: relative;
}
.titie-section h1{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 48px;
    color: #515151;
    font-weight: 900;
    text-transform: uppercase;
}
.titie-section h1:before{
    content: "";
    width: 165px;
    display: block;
    height: 3px;
    background:#1abc9c;
    position: absolute;
    bottom: -16px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.titie-section h1:after{
    content: "";
    width: 165px;
    display: block;
    height: 3px;
    background:#1abc9c;
    position: absolute;
    bottom: -30px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.titie-section:after{
    content: "";
    width: 165px;
    display: block;
    height: 7px;
    background:#1abc9c;
    position: absolute;
    bottom: -25px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.titie-section.white h1:before{
    content: "";
    width: 165px;
    display: block;
    height: 3px;
    background:#fff;
    position: absolute;
    bottom: -16px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.titie-section.white h1:after{
    content: "";
    width: 165px;
    display: block;
    height: 3px;
    background:#fff;
    position: absolute;
    bottom: -30px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.titie-section.white:after{
    content: "";
    width: 165px;
    display: block;
    height: 7px;
    background:#fff;
    position: absolute;
    bottom: -25px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.white-title{

}
.header-top-section{
    display: block;
    width: 100%;
    background: #1abc9c;
    color: #fff;
}.header-top-content{}
.header-top-content ul{}
.header-top-content ul li{}
.header-top-content ul li a{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding-left: 0;
}.header-top-content ul li a:hover, .header-top-content ul li a:active, .header-top-content ul li a:focus{
    background: transparent;
    color: #fff;
}

.header-top-content ul li:last-child a i{
    /*font-size: 20px;  */
    position: relative;
    top: 2px;
}

.header-top-menu{}
.header-top-menu ul{}
.header-top-menu ul li{}
.header-top-menu ul li a{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.header-top-menu ul li a:hover, .header-top-menu ul li a:active, .header-top-menu ul li a:focus{
    background: transparent
}
.header-top-menu ul li a i{

}

/*
    HEADER SECTION
 */
.header-section{
    display: block;
    width: 100%;
    padding: 20px 0;
    position: relative;
    transition: all 1s;
    background: #fff;
}
header.header-section.fixed {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 99999;
    border-bottom: 1px solid #1abc9c;
    padding: 10px 0;
    transition: all 1s;
}
ul.navbar-nav li a{
    font-size: 14px;
    font-weight: 700;
    color: #0f0101 !important;
    background: transparent !important;
    
}
span.shoping-cart {
    border: 1px solid #0f0101;
    padding: 2px 7px 2px 6px;
    text-align: center;
    display: inline-block;
    position: relative;
    background: #fff;
}
span.shoping-cart:after{
    height: 90%;
    width: 80%;
    display: block;
    background: transparent;
    position: absolute;
    content: "";
    border: 1px solid #0f0101;
    border-radius: 50%;
    top: -47%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -9999;
}
span.shoping-cart:hover:after{
    top: -50%;
}

span.shoping-cart:before{
    height: 100%;
    width: 100%;
    display: block;
    background: #fff;
    position: absolute;
    content: "";
    top: 0%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -999;
}
span.shoping-cart {
    border: 1px solid #0f0101;
    padding: 2px 7px 2px 6px;
    text-align: center;
    display: inline-block;
    position: relative;
    background: #fff;
    z-index: 9999999;
    color: #1abc9c;
}
/*
    SERVICE SECTION
 */
.service-section{
    display: block;
    text-align: center;
    padding: 100px 0 80px;
}
.service-item{}
.service-item i{
    font-size: 70px;
    text-align: center;
}
.service-item h3{
    font-size: 18px;
    font-weight: 700;
    color: #555252;
    font-family: 'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
}
.service-item p{
    font-size: 14px;
    font-weight: 300;
    color: #555252;
    line-height: 24px;
}
.service-item:hover h3, .service-item:hover i{
    color: #1abc9c

}

/*
    NEW PRODUCR SECTION
 */
.new-section{
    background: #e9f0fd;
    display: block;
    padding: 100px 0 80px;
}
.product-item{
    position: relative;
    margin-top: 30px;
    transition: all 0.5s
}
.product-item img{
    width: 100%;
    height: auto;
}

.product-hover{
    position: absolute;
    display: block;
    width: 100%;
    height: calc(100% - 40px);
    background: rgba(0, 0, 0, 0.5);
    top:0;
    border: 10px solid rgba(255, 255, 255, 0.55);
    text-align: center;
    transform: scale(0.1, 0.1);
    opacity: 0;
    transition: all 0.5s
}
.product-item:hover .product-hover{
    transform: scale(1, 1);
    opacity: 1;
}

.product-meta{
    display: block;
    margin-top: 35%;

}

.product-hover a{
    color: #fff;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 4.2%;
    margin: 5px;
}
.product-hover a i{
    font-size: 30px;
}

.product-hover a:last-child{
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    background: #323232;
    border: 1px solid #fff;
    margin: 5px 12%
}
.product-hover a:last-child i{
    font-size: 18px;
    margin-right: 5px;
}
.product-hover a:hover{
    background: #1abc9c;
    border: 1px solid #1abc9c
}

.product-title{
    display: block;
    background: #323232;
    width: 100%;
    bottom: 0;
    position: absolute;
    bottom: 0;
    height: 40px;
    overflow: hidden;
    transition: all 0.5s;
}
.product-item:hover .product-title{
    background:#1abc9c;
}

.product-title h3{
    margin: 0;
    padding: 0;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    float: left;
    padding: 10px;
    padding-left: 15px;
}
.product-title span{
    display: block;
    background: rgba(255, 255, 255, 0.5);
    float: right;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
}

.sell-meta{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: block;
    width: auto;
}
.sell-meta a{
    width: 70px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding:5px 10px;
    color: #555252;
    border: 1px solid #000;
}
.sell-meta a.new-item{
    float: left;
}
.sell-meta a.sell-item{
    float: right;
}

/*    FEATURED SECTION
 */
.featured-section{
    display: block;
    padding: 100px 0 80px;
}
.filter-menu{
    display: block;
    text-align: center;
    margin: 30px 0 50px;
}
.filter-menu ul{
    display: inline-block;
    margin: 0 auto;
}
.filter-menu ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 5px 15px;
    border: 1px solid #000;
    margin: 5px;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}
.filter-menu ul li.active{
    background: #1abc9c;
    border: 1px solid #1abc9c;
    color: #fff;
}

.filter-menu ul li span{
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    color: #1abc9c;
    font-weight: 700;
    display: block;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 50%;
    top: -55px;
    right: -20px;
    opacity: 0;
    transition: all 0.5s;
}
.filter-menu ul li.active span{
    opacity: 1;
    top: -22px;
    right: -5px
}

.featured .product-item{
    background: #e9f0fd
}

/*
    OFFER SECTION
 */
.offer-section{
    display: block;
    padding: 170px 0 130px;
    position: relative;
    width: 100%;
    background: url(../images/offer-bg.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    color: #fff;
}
.offer-section:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    background: rgba(0, 0, 0, 0.5)
}
.offer-section h1{
    font-size: 60px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #fff;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}
.offer-section h2{
    font-size: 38px;
    font-weight: 300;
    color: #fff;
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}

/*
    BEST SELLER SECTION
 */
.best-seller-section{
    display: block;
    padding: 100px 0 80px;
    position: relative;
    width: 100%;
    background: #e9f0fd
}

/*
    REVIEW SECTION
 */
.review-section{
    padding: 100px 0 60px;
    display: block;
    width: 100%;
}
.review-section .feedback{
    display: block;
    margin-top: 60px;
    text-align: center;
}
.feedback .item:before{
    display: none;
}
.feedback .item{
    text-align: center;
}
.feedback .item img{
    display: inline-block;
    margin: 0 auto;
    height: 225px;
    width: 225px;
    border-radius: 50%;
}
.feedback .item .carousel-caption{
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 75%;
    text-shadow: none;
    margin-top: 30px;
}
.feedback .item .carousel-caption p{
    font-size: 14px;
    font-weight: 400;
    color: #515151 ;
    text-align: center;
    line-height: 24px;
}
.feedback .item .carousel-caption h3{
    font-size: 18px;
    font-weight: 700;
    color: #1abc9c;
    text-align: center;
}
.feedback .item .carousel-caption span{
    font-size: 14px;
    font-weight: 400;
    color: #515151 ;
    text-align: center;
    line-height: 24px;
}

.review-controlar{
    position: relative;
    margin: 0 auto;
    display: inline-block;
    left: 0;
    right: 0;
    width: auto;
}
.review-controlar li{
    height: 85px;
    width: 85px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    position: relative;
    border: 5px solid #000;
    margin: 10px;
}
.review-controlar li.active{
    height: 85px;
    width: 85px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    position: relative;
    border: 5px solid #1abc9c;
    margin: 10px;
}

.review-controlar li img{
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

/*
    NEWS LATTER SECTION
 */
.news-letter-section{
    display: block;
    background: url(../images/bg.png) #1abc9c no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 100px 0 80px;
}
.titie-section{}
.news-letter-section p{
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 25px;
    display: block;
    overflow: hidden;
}

.subscribe-from{
    display: block;
    margin-top: 50px;
}
.form-inline{
    /*width: 100%;   */
    display: block;
    background: #fff;
    position: relative;
    padding: 0;
    border-radius: 10px;

}
.form-group{
    width: 100%;
    display: block;
}
.form-inline .form-group{
    margin-bottom: 0;
}

.subscribe-from .form-control{
    display: block;
    width: 100% !important;
    height: 100%;
    height: 63px;
    color: #000;
    font-size: 16px;
    padding: 20px;
}
.subscribe-from .form-control:hover, .subscribe-from .form-control:focus{
    box-shadow: none !important;
    outline: none;

}

.suscribe-btn{
    position: absolute;
    display: block;
    padding: 16px;
    width: 100px;
    background: #1abc9c;
    border: none;
    bottom: 2px;
    top: 2px;
    right: 2px;
}
.suscribe-btn i{
    color: #fff;
    font-size: 25px;
}

/*
    CLIENT SECTION
 */
.client-section{
    display: block;
    padding: 100px 0 80px;
    background: #e9f0fd;
    display: block;
}
.client-area{
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
}
.client-area .item{}
.client-area .item img{
    width: 100%;
    height: auto;
    border: 1px solid #1abc9c;
}

/*
    NEWS SECTION
 */
.news-section{
    display: block;
    padding: 100px 0 80px;
}
.news-section .titie-section{
    display: block;
    margin-bottom: 80px;
}
.blog-item{}
.blog-item img{
    width: 100%;
    height: auto;
}
.blog-item h3{
    font-size: 18px;
    font-weight: 600;
    color: #555252;
    display: block;
    line-height: 24px;
    position: relative;
    margin: 15px 0 ;
    padding: 0;
}
.blog-item h3:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    display: block;
    background: #1abc9c;
    bottom: -8px;
}

.blog-item p{
    font-size: 14px;
    font-weight: 40px;
    line-height: 24px;
    display: block;
    margin-top: 10px;
}
.blog-item a:last-child{
    display: inline-block;
    color: #fff;
    font-weight: 300;
    background: #1abc9c;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 3px;
    transition: all 0.5s;
}
.blog-item a:last-child:hover{
    background: #17A689
}

/*
    CONTACT SECTION
 */
.contact-section{
    background: url(../images/map-bg.png) #2d3237 no-repeat;
  /*  background-size: 100%;   */
    background-position: center center;
    padding: 100px 0 80px;
    display: block;
    position: relative;
}
.contact-section:before{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(45, 50, 55, .55)
}
.contact-section .titie-section{
    display: block;
    margin-bottom: 80px;
}
.contact-section .titie-section h1{
    color: #fff;
}
.contact-section .left-content{}
.contact-section .left-content h1{
    font-size: 72px;
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 1;
    font-weight: 300;
}
.contact-section .left-content h1 span{
    color: #1abc9c;
}

.contact-section .left-content h3{
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 10px;
}
.contact-section .left-content p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-family: 'Roboto';
}
.contact-section .left-content p b{
    color: #1abc9c;
}

.contact-section .left-content p{}
.contact-info{
    display: block;
    margin-top: 10px;
}

.contact-info p{
    margin: 0;
}
.social-media{
    display: block;
    margin-top: 10px;
}
.social-media ul{
    margin: 0;
    padding: 0;
    display: block;
}
.social-media ul li{
    list-style: none;
    display: inline-block;



    margin-right: 10px;
}
.social-media ul li a{
    color: #fff;
}
.social-media ul li a i{
    height: 35px;
    width: 35px;
    font-size: 20px;
    border: 1px solid #fff;
    text-align: center;
    padding: 7px 0;
}
.social-media ul li a:hover i{
    background: #1abc9c;
    border: 1px solid #1abc9c;
}
.contact-form{
    margin-top: 10px;
    display: block;
}
.contact-form .col-md-6{
    display: block;
    margin-bottom: 30px;
}

.contact-form .input-group{
    width: 100%;
    display: block;
}
.contact-form .input-group input.form-control, .contact-form .input-group textarea.form-control{
    width: 100%;
    display: block;
    background: transparent;
    border: 1px solid #fff;
    height: 50px;
}
.contact-form .input-group textarea.form-control{
    height: 150px;
}
.contact-form .input-group .form-control:focus, .contact-form .input-group .form-control:hover{
    border: 1px solid #1abc9c;
    box-shadow: none;
    color: #1abc9c !important;
}

.contact-form .input-group input.contact-submit{
    display: inline-block;
    background: #1abc9c !important;
    padding: 10px 40px;
    border: none;
    color: #fff !important;
    margin-top: 30px;
    font-size: 16px;
    text-transform: uppercase;
}

/*
    FOOTER SECTION
 */
footer.footer{
    display: block;
    text-align: center;
    background: #000000;
    padding: 20px 0;
    color: #fff;
}
footer.footer p{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}
footer.footer p a{
    color: #1abc9c
}
